<!DOCTYPE html>
<html>
  <head>
    <style>
    .center {
      margin: auto;
      width: 80%;
      border: 3px solid blue;
      padding: 10px;
    }
  </style>
    <title>Mac Installer POC</title>
  </head>
  <body class="center">
    <h2>Create MAC Installer</h2>
    <form method="POST" action="/submit">
      <div>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div>
        <textarea style="width:60%;" name="message" placeholder="Config"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
